.hidden {
    display: none;
}

.center {
    text-align: center;
}

.GanttContainer{
    border:2px solid;
    border-radius:25px;
    padding-right:10px;
}
.P1
{
    display: inline-block; 
    height:25px;
    background-color:lightblue;
    text-align: center;
}

.P2
{
    display: inline-block; 
    height:25px;
    background-color:red;
    text-align: center;
}

.P3
{
    display: inline-block; 
    height:25px;
    background-color:green;
    text-align: center;
}

.P4
{
    display: inline-block; 
    height:25px;
    background-color:yellow;
    text-align: center;
}

.P5
{
    display: inline-block; 
    height:25px;
    background-color:purple;
    text-align: center;
}

.P6
{
    display: inline-block; 
    height:25px;
    background-color:orange;
    text-align: center;
}

.P7
{
    display: inline-block; 
    height:25px;
    background-color:lightskyblue;
    text-align: center;
}

.Break{
    display: inline-block; 
    height:25px;
    background-color:grey;
    text-align: center;
}

#FeedbackOpenClose, #RROpenClose, #STROpenClose, #SPNOpenClose, #FCFSOpenClose
{
    cursor: pointer;
}

table, th, td {
    border: 1px solid black;
}

#CPUTimeTable {
    margin: 0 auto;
}